flows.json
[
    {
        "id": "b43d610e3cfc865c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9b9b7e30bcfaaed",
        "type": "inject",
        "z": "b43d610e3cfc865c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "112d9d7e3ef0b122"
            ]
        ]
    },
    {
        "id": "34a8768b9354af66",
        "type": "debug",
        "z": "b43d610e3cfc865c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "112d9d7e3ef0b122",
        "type": "function",
        "z": "b43d610e3cfc865c",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "34a8768b9354af66"
            ]
        ]
    },
    {
        "id": "405aa4f182281c3e",
        "type": "eth-ip in",
        "z": "b43d610e3cfc865c",
        "endpoint": "",
        "mode": "single",
        "variable": "",
        "program": "",
        "name": "",
        "x": 210,
        "y": 200,
        "wires": [
            []
        ]
    }
]